<div id="entree">
    <div id="cabecera">
        <table class="default">
            <tr>
                <td>
                    <img class="icon" src="../../../../assets/images/icons/{{entree.icon}}" />
                </td>
                <td>
                    {{ entree.name }}
                </td>
            </tr>
        </table>
    </div>
    <img class="post" src="../../../../assets/images/icons/{{entree.publicaciones}}" />


    <div id="feed">
        <img id="corazon" src="../../../../assets/images/icons/corazon.png" />
        <img id="comentario" src="../../../../assets/images/icons/comentario.png" />
    </div>

    <div id="descripcion">
        <p>Descripción:</p>
        <p>{{ entree.descripcion }} </p>
    </div>
</div>