<ul id="menu">
    <div class="header">
        <ul class="nav">
            <li><img id="hamburguer" src="../../assets/images/icons/menu.png">
                <ul>
                    <li><a href="/list">Inicio</a></li>
                    <li><a routerLink="/login">Área personal</a></li>
                    <li><a routerLink="/us">Información</a></li>
                    <li><a routerLink="/con">Contacto</a></li>
                    <li><a routerLink="/login">Logout</a></li>
                </ul>
            </li>
        </ul>
        <img id="logo" routerLink="/list" src="../../assets/images/icons/SkyNet.png" />
    </div>
</ul>