<div id=”empresa”>
    <h2>Sobre SkyNet:</h2>
    <p>SkyNet es una empresa que permite a los usuarios interactuar entre ellos mediante fotos y mensajes, como tal
        estamos en el sector del ocio</p>
</div>
<div id=”version”>
    <h2>Versiones:</h2>
    <p>SkyNet 8.9.9 para Android</p>
    <p>SkyNet 8.9.9 para IOS</p>
</div>
<div id="requisitos">
    <h2>Requisitos:</h2>
    <p>La aplicación ocupa 1GB y es necesario 1GB de RAM. La aplicación es compatible con Android 11 y posterior, iOS
        10.13 y posterior.</p>
</div>