<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <h3>Contacto</h3>

    <div class="container">
        <form action="/action_page.php">

            <label for="correo">Correo electrónico</label>
            <input type="text" id="correo" name="correo">

            <label for="subject">Consulta</label>
            <textarea id="subject" name="subject" style="height:200px"></textarea>
            <div id="enviar">
                <input id="enviar" routerLink="/list" type="submit" value="Enviar">
            </div>
        </form>
    </div>
    <div id="info">
        <h2>Contactos</h2>
        <p>Atención telefonica de las 24 horas.</p>
        <p><img id="telefono" src="../../../assets/images/icons/telefono.png" /> 928 60 45 34</p>
        <p><img id="icorreo" src="../../../assets/images/icons/correo.png">skynet@gmail.com</p>
    </div>

</body>

</html>